

/* Global Container Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .item {
    width: 100%;
    margin-bottom: 10px;
  }
}


/* Typography */
h1 {
  font-size: 4vw;
}

p {
  font-size: 1.2rem;
}


/* About Section Background */
  #about {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, hsla(204, 72%, 68%, 0.2) 50%, rgba(255,255,255,1) 100%);
  }
  
  /* Projects Section Background */
  #projects {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, hsla(204, 72%, 68%, 0.2) 50%, rgba(255,255,255,1) 100%);
  }
  
  /* Skills Section Background */
  #skills {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, hsla(204, 72%, 68%, 0.2) 50%, rgba(255,255,255,1) 100%);
  }
  
  /* Education Section Background */
  #education {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, hsla(204, 72%, 68%, 0.2) 50%, rgba(255,255,255,1) 100%);
  }
  
  /* Hobbies Section Background */
  #hobbies {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, hsla(204, 72%, 68%, 0.2) 50%, rgba(255,255,255,1) 100%);
  }
  
  /* Resume Section Background */
  #resume {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, hsla(204, 72%, 68%, 0.2) 50%, rgba(255,255,255,1) 100%);
  }
  
  /* Contact Section Background */
  #contact {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%,hsla(204, 72%, 68%, 0.2) 50%, rgba(255,255,255,1) 100%);
  }
  